<br>
{% if not is_new %}
<table id="testcase_table">
  <style>
    td {
      padding: 5px;
    }
    input {
      width: 150px;
    }
  </style>
  <tr>
    <th>Input</th>
    <th>Input</th>
    <th>Time Limit</th>
    <th>Memory Limit</th>
    <th></th>
  </tr>
  {% for t in testcase %}
  <tr>
    <td>1.in</td>
    <td>1.out</td>
    <td><input type="number"></td>
    <td><input type="number"></td>
    <td><button class="btn btn-primary" onclick="return false"
        data-toggle="modal" data-target="#edit_testcase">ReUpload</button></td>
    <td><button class="btn btn-primary">Update</button></td>
    <td><button class="btn btn-danger">Delete</button></td>
  </tr>
  {% endfor %}
  <tr>
    <form id="add_testcase" method="POST" 
      enctype="multipart/form-data" action="{% url 'problem.views.testcase' pid %}">
      {% csrf_token %}
      <td><input type="file" name="t_in" required></td>
      <td><input type="file" name="t_out" required></td>
      <td><input type="number" name="time_limit" required></td>
      <td><input type="number" name="memory_limit" required></td>
      <td><button class="btn btn-primary" id="add_testcase_btn">Add</button></td>
    </form>
  </tr>

</table>

<div class='modal fade' id='edit_testcase'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h4 class='modal-title'>Edit Testcase</h4>
      </div>
      <div class='modal-body'>
        <p>Input</p>
        <input type='file'><br>
        <p>Output</p>
        <input type='file'>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-info' data-dismiss='modal'>Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
      $("#add_testcase").submit(function (e) {
      e.preventDefault();
      var time_limit = $("input[name='time_limit']").val();
      var memory_limit = $("input[name='memory_limit']").val();
      $.ajax({
          type: 'POST',
          url: '/problem/{{pid}}/testcase/',
          data: new FormData(this), //$("#add_testcase").serialize(), //formData,
          processData: false,
          contentType: false,
          success: function(data) {
              var tid = data.tid;
              var new_row = $("<tr>");
              new_row.append($("<td>").append(
                  $("<a>"+tid+".in</a>").attr('href', '/media/testcase/'+tid+'.in')));
              new_row.append($("<td>").append(
                  $("<a>"+tid+".out</a>").attr('href', '/media/testcase/'+tid+'.out')));
              new_row.append($("<td>").append(
                  $("<input type='number' name='time_limit' value='"+time_limit+"'></td>")));
              new_row.append($("<td>").append(
                  $("<input type='number' name='memory_limit' value='"+memory_limit+"'></td>")));
              new_row.append("<td><button class='btn btn-primary' onclick='return false'\
                    data-toggle='modal' data-target='#edit_testcase'>ReUpload</button></td>");
              new_row.append("<td><button class='btn btn-primary'>Update</button></td>");
              new_row.append("<td><button class='btn btn-danger'>Delete</button></td>");
              console.log(new_row);
              $("#testcase_table tr:last-child").before(new_row);
          }
      });
    });
});
</script>
{% else %}
<strong>Save your problem before uploading testcases</strong>
{% endif %}
